/* reference: https://codepen.io/bordeux/pen/kNOvBQ */
html, body {width:100%; height:100%; margin:0; padding:0;}

* {
    box-sizing: border-box;
  }

@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}


body {
    background: 
        radial-gradient(ellipse at center, rgba(169, 38, 160, 0.3) 0%, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, rgba(0, 225, 255, 0.3) 0%, rgba(0,0,0,0) 70%) /*zielony */
        var(--theme-main);
        /* #fcf6bd; */
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        200%,
        200%,
        200%;
    background-attachment: fixed;
    background-color: var(--theme-main);
    
    animation:bganimation 13s infinite;
}

body:has(.yellow) {
    --theme-font: #073b4c;
    --theme-font-second: #6c757d;
    --theme-icon: #580aff;
    --theme-font-opposite: #f8f9fa;
    --theme-main: #fee440;
  }
  
  body:has(.blue) {
    --theme-font: #333533;
    --theme-font-second: #0a2463;
    --theme-icon: #ff6000;
    --theme-font-opposite: #ffecd1;
    --theme-main: #98f5e1;
  }
  
  
  body:has(.dark) {
    --theme-font: #b9fbc0;
    --theme-font-second: #fbfefb;
    --theme-icon: #00bbf9;
    --theme-font-opposite: #0b2545;
    --theme-main: #000102;
  }
  
  body:has(.red) {
    --theme-font: #d8a48f;
    --theme-font-second: #fbf8cc;
    --theme-icon: #ffffff;
    --theme-font-opposite: #0f4c5c;
    --theme-main: #9a031e;
  }


  .theme-icon {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .theme-icon.yellow {
    color: #fee440;
  }
  
  .theme-icon.blue {
    color: #072ac8;
  }
  
  .theme-icon.red {
    color: #ea2525;
  }
  
  .theme-icon.dark {
    color: #000102;
  }
  
  .theme-icon.inactive {
    opacity: 0.6;
  }
  
  .theme-icon:hover {
    opacity: 1;
  }
  
  .card-title,
  .link {
    color: var(--theme-font);
    /* transition: color 0.3s ease-in-out; */
  }
  
  .project-detail .link:hover {
    color: var(--theme-icon) !important;
  }
  
  .grid-item:hover {
    background-color: var(--theme-font);
    color: var(--theme-font-opposite);
  }
  
  .grid-item:hover .link,
  .grid-item:hover .card-title {
    color: var(--theme-font-opposite) !important;
  }
  
  .grid-item:hover .link:hover {
    color: var(--theme-main) !important;
  }
  
  .card-text{
    color: var(--theme-font) !important;
  }

  .icon-set {
    opacity: 0; 
    animation: fadeIn 4s ease-in-out 2s forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    }
  }
